.singup{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    max-width: 100%;
    height: 87vh;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: fixed;
    background-size: cover;
}
.from{
    background-color: aliceblue;
    padding: 30px;
    border: solid 1px black;
    border-radius: 30px;
    width: 400px;
    
}
